<footer class="site-footer">
  <div class="footer-site-search-wrapper">
    <div class="container">
      <form class="footer-site-search" id="site-search">
        <input type="text" placeholder="Search Truckers Report">
        <button type="submit"> <i class="fa fa-search fa-lg"></i> </button>
      </form>
    </div>
  </div>

  <div class="footer-top container">
    <nav>
      <%= link_to 'About Us', 'basic-page' %>
      <%= link_to 'Trucker News', '#' %>
      <%= link_to 'Library', 'basic-page' %>
      <%= link_to 'Contact', '#' %>
      <%= link_to 'Advertising', '#', class: "advertising" %>
    </nav>

  </div>
  <div class="copyright">
    <p><a href="#">Privacy Policy</a> | Copyright © 2015 TruckersReport.com</p>
  </div>
</footer>