<header class="site-header">
  <% link_to '/index.html', class: "logo" do %>
    <%= image_tag 'tr-logo.svg' %>
  <% end %>

  <a href="#" class="open-nav"><i class="fa fa-bars"></i></a>

  <nav>
     <%= link_to 'Forum', '#' %>
     <%= link_to 'CDL Practice Tests', '/cdl-practice-tests/' %>
     <%= link_to 'Resources', '#' %>
     <%= link_to 'Trucking Schools', '#' %>
     <%= link_to 'Trucking Insurance', '#' %>
     <%= link_to 'Freight Factoring', '#' %>
     <%= link_to 'Trucking Jobs', '#' %>
   </nav>

   <a href="#site-search" class="search-anchor-link"><i class="fa fa-search"></i></a>

</header>