<header class="site-header">
  <% link_to '/', class: "logo" do %>
    <%= image_tag 'tr-logo.svg' %>
  <% end %>

  <nav>
     <%= link_to 'Forum', '/index.html' %>
     <%= link_to 'CDL Practice Tests', '#' %>
     <%= link_to 'Resources', '#' %>
     <%= link_to 'Trucking Schools', '#' %>
     <%= link_to 'Trucking Insurance', '#' %>
     <%= link_to 'Freight Factoring', '#' %>
     <%= link_to 'Trucking Jobs', '#' %>
   </nav>

   <a href="#site-search" class="search-anchor-link"><i class="fa fa-search"></i></a>

</header>