<header class="site-header">
  <% link_to '/index.html', class: "logo" do %>
    <%= image_tag 'tr-logo.svg' %>
  <% end %>

  <a href="#" class="open-nav" data-behavior="toggler" data-toggler-target="main-menu"><i class="fa fa-bars"></i></a>

  <nav  data-toggler-id="main-menu">
     <%= link_to 'Forum', '#' %>
     <%= link_to 'CDL Practice Tests', '/cdl-practice-tests/' %>
     <%= link_to 'Resources', '/resources' %>
     <%= link_to 'Trucking Schools', '/trucking-schools' %>
     <%= link_to 'Trucking Insurance', '/trucking-insurance' %>
     <%= link_to 'Freight Factoring', '/freight-factoring' %>
     <%= link_to 'Trucking Jobs', '#' %>
     <form class="site-search header-site-search">
       <input type="text" placeholder="Search Truckers Report">
       <button type="submit"><i class="fa fa-search fa-lg"></i></button>
     </form>
   </nav>

   <a href="#site-search" class="search-anchor-link" data-behavior="autoscroll"><i class="fa fa-search"></i></a>

</header>