<div class="job-type-callouts">
  <div class="callout-title">
    <%= image_tag 'tr-logo-jobs.svg', class: "tr-logo-jobs" %>
    <h3>Find Trucking Jobs</h3>
  </div>
  <a href="#">
    <%= image_tag "job-type-steering-wheel.svg"%>
    <span>All Jobs</span>
  </a>
  <a href="#">
    <%= image_tag "job-type-road-sign.svg"%>
    <span>New Driver</span>
  </a>
  <a href="#">
    <%= image_tag "job-type-flatbed-nw.svg"%>
    <span>Flatbed</span>
  </a>
  <a href="#" class="no-mobile">
    <%= image_tag "job-type-tanker.svg"%>
    <span>Tanker</span>
  </a>
  <a href="#" class="no-mobile">
    <%= image_tag "job-type-all.svg"%>
    <span>Refrigerated</span>
  </a>
  <a href="#" class="no-mobile">
    <%= image_tag "job-type-owner.svg"%>
    <span>Owner Operator</span>
  </a>
</div>