<div class="job-type-callouts">
  <div class="callout-title">
    <%= image_tag 'tr-logo-jobs.svg', class: "tr-logo-jobs" %>
    <h3>Find Trucking Jobs</h3>
  </div>
  <a href="#">
    <%= image_tag "job-type-all.svg"%>
    <span>All Jobs</span>
  </a>
  <a href="#">
    <%= image_tag "job-type-all.svg"%>
    <span>New Driver</span>
  </a>
  <a href="#">
    <%= image_tag "job-type-flatbed.svg"%>
    <span>Flatbed</span>
  </a>
  <div class="break"></div>
  <a href="#">
    <%= image_tag "job-type-tanker.svg"%>
    <span>Tanker</span>
  </a>
  <a href="#">
    <%= image_tag "job-type-all.svg"%>
    <span>Refrigerated</span>
  </a>
  <a href="#">
    <%= image_tag "job-type-auto.svg"%>
    <span>Auto</span>
  </a>
</div>