<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">Advertise</h2>
    <hr>
    <h3 class="page-subtitle">With over 600,000 visitors each month, our website is read by more drivers than any other digital or print publication in the trucking industry.</h3>
  </div>
</header>

<div class="main-content">
  <div class="container narrow">

    <p>Companies advertise on TruckersReport when they want a convenient and cost-effective service for reaching professional truck drivers.</p>

    <div class="center-form-wrap">
      <form>
        Holder for woofu form.
      </form>
    </div>

    <hr>
    <h3 class="section-title center-title">What our partners say about us</h3>

    <div class="advertising-testimony-wrapper">
      <p class="testimony-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. </p>
      <%= image_tag "avatar.png" %>
      <p class="testimony-person">Mike Smith, CEO, Big Trucking Company</p>
    </div>

    <div class="advertising-testimony-wrapper">
      <p class="testimony-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. </p>
      <%= image_tag "avatar.png" %>
      <p class="testimony-person">Mike Smith, CEO, Big Trucking Company</p>
    </div>

    <div class="advertising-testimony-wrapper">
      <p class="testimony-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. </p>
      <%= image_tag "avatar.png" %>
      <p class="testimony-person">Mike Smith, CEO, Big Trucking Company</p>
    </div>

  </div>
</div>

<div class="find-jobs-form-wrap form-wide">
    <%= partial "views/find-job-form" %>
</div>

