---
title: CDL Practice Tests
---
<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">CDL Practice Tests</h2>
    <hr>
    <h3 class="page-subtitle">They say that “practice makes perfect” and taking the CDL practice test is a great way to prepare for taking this important test.  The actual CDL exam can be quite difficult, thus, taking time to undergo studying will make sure that you know your information.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="cdl-test-callouts">
  <div class="container">
      <div class="cdl-test-callout"><div class="inner">
        <a href="thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-general.svg' %>
          <p>General Knowledge Test</p>
        </a>
        <div class="over-buttons">
          <a href="thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>

      <div class="cdl-test-callout"><div class="inner">
        <a href="thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-brakes.svg' %>
          <p>Air Brakes Test</p>
        </a>
        <div class="over-buttons">
          <a href="thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-combo.svg' %>
          <p>Combination Vehicle Test</p>
        </a>
        <div class="over-buttons">
          <a href="thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-tanker.svg' %>
          <p>Tanker Test</p>
        </a>
        <div class="over-buttons">
          <a href="thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-hazmet.svg' %>
          <p>Hazmat Test</p>
        </a>
        <div class="over-buttons">
          <a href="thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-doubles.svg' %>
          <p>Double/Triples Test</p>
        </a>
        <div class="over-buttons">
          <a href="thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
   </div>
</div>
<div class="main-content">
  <div class="container narrow">

      <div class="find-jobs-form-wrap form-narrow main-content">
        <%= partial "views/find-job-form" %>
      </div>

      <h2 class="section-title">CDL Test Information</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <div class="social-link-wrapper">
        <i class="fa fa-facebook-official fa-lg"></i>
        <i class="fa fa-twitter-square fa-lg"></i>
        <i class="fa fa-google-plus-square fa-lg"></i>
      </div>

  </div>
</div>

<%= partial "views/comments" %>