---
title: CDL Practice Tests
---
<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">CDL General Test</h2>
    <hr>
    <h3 class="page-subtitle">Dynamically Generated Tests: Just like the DMV/RMV, our test database contains hundreds of CDL General Knowledge questions which are randomly chosen to guarantee you’ll never take the same test twice.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="cld-general-knowledge-all-tests">
  <div class="container">

    <div class="cdl-test-start-wrapper">
      <h3 class="section-title">General Knowledge Quiz</h3>
      <div class="cdl-test-start"><div class="inner">
        <a href="#" class="link-wrap">
          <h3><span>10</span> Question Quiz</h3>
          <%= image_tag 'cdl-general.svg' %>
          <p>General Knowledge Quiz</p>
          <p class="start">Start the Quiz!</p>
        </a>
      </div></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="cdl-test-start-wrapper">
      <h3 class="section-title">General Knowledge Test</h3>
      <div class="cdl-test-start"><div class="inner">
        <a href="#" class="link-wrap">
          <h3>Timed <span>50</span> Question Test</h3>
          <%= image_tag 'cdl-general.svg' %>
          <p>General Knowledge Test</p>
          <p class="start">Start the Test!</p>
        </a>
      </div></div>
       <p>The General Knowledge test given by your DMV/RMV is 50 questions long and has a time limit of 60 minutes. Take the full length, timed test above to prepare yourself for the challenge.</p>
    </div>

  </div>
</div>

<hr>

<div class="cdl-general-knowledge-sections-wrapper">
  <div class="container">
    <h3 class="section-title">General Knowledge Test Sections</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="test-sections-wrap">
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
       <a href="#" class="test-section-link">General Knowledge #</a>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container narrow">

      <div class="find-jobs-form-wrap form-narrow main-content">
        <%= partial "views/find-job-form" %>
      </div>

      <h2 class="section-title">CDL Test Information</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <div class="social-link-wrapper">
        <i class="fa fa-facebook-official fa-lg"></i>
        <i class="fa fa-twitter-square fa-lg"></i>
        <i class="fa fa-google-plus-square fa-lg"></i>
      </div>

  </div>
</div>

<%= partial "views/comments" %>