---
title: Truckers Report
---
<div class="hero-home"><div class="container">
  <div class="find-jobs-form-wrap form-vert">
    <%= partial "views/find-job-form" %>
  </div>
  <div class="job-type-callouts">
    <a href="/">All Trucking Jobs</a>
    <a href="/">All Trucking Jobs</a>
    <a href="/">All Trucking Jobs</a>
    <a href="/">All Trucking Jobs</a>
  </div>
</div></div>

<article class="homepage-cdl-tests-callouts">
  <div class="container">
    <h2>Free CDL Practice Tests</h3>
    <p>They say that “practice makes perfect” and taking the CDL practice test is a great way to prepare for taking this important test.  The actual CDL exam can be quite difficult, thus, taking time to undergo studying will make sure that you know your information.</p>

    <div class="cdl-test-callouts">
      <div class="cdl-test-callout">
        <a href="/">
          <%= image_tag 'slug.svg' %>
          <h4>General Knowledge Test</h4>
        </a>
      </div>
      <div class="cdl-test-callout">
        <a href="/">
          <%= image_tag 'slug.svg' %>
          <h4>Air Brakes Test</h4>
        </a>
      </div>
      <div class="cdl-test-callout">
        <a href="/">
          <%= image_tag 'slug.svg' %>
          <h4>Combination Vehicle Test</h4>
        </a>
      </div>
      <div class="cdl-test-callout">
        <a href="/">
          <%= image_tag 'slug.svg' %>
          <h4>Tanker Test</h4>
        </a>
      </div>
      <div class="cdl-test-callout">
        <a href="/">
          <%= image_tag 'slug.svg' %>
          <h4>Hazmet Test</h4>
        </a>
      </div>
      <div class="cdl-test-callout">
        <a href="/">
          <%= image_tag 'slug.svg' %>
          <h4>Double/Triples Test</h4>
        </a>
      </div>
    </div>

  </div>
</article>

<div class="news-resources-wrap"><div class="container">
  <section class="trucker-news">
    <h3>Trucker News</h3>
    <div class="trucker-news-item">
      <img src="http://placehold.it/80x80">
      <h5>Train Derails After Hitting Stuck Truck, 55 Injured</h5>
      <a class="comment-count"> 25 comments</a>
    </div>
    <div class="trucker-news-item">
      <img src="http://placehold.it/80x80">
      <h5>Train Derails After Hitting Stuck Truck, 55 Injured</h5>
      <a class="comment-count"> 25 comments</a>
    </div>
    <div class="trucker-news-item">
      <img src="http://placehold.it/80x80">
      <h5>Train Derails After Hitting Stuck Truck, 55 Injured</h5>
      <a class="comment-count"> 25 comments</a>
    </div>
  </section>
  <section class="resources">
    <img src="http://placehold.it/400x80">
  </section>
</div></div>






