---
title: Truckers Report
---
<div class="hero-home"><div class="container">
  <h2 class="tagline">HIT THE OPEN ROAD <span> with <%= image_tag 'tr-logo-white.svg'%></h2>
  <div class="find-jobs-form-wrap form-vert homepage-hero">
    <%= partial "views/find-job-form" %>
  </div>
</div></div>

<%= partial "views/job-type-callouts-bar" %>

<article class="homepage-cdl-tests-callouts">
  <div class="container">
    <header class="cld-tests-callout-header">
      <h2 class="section-title"><b>Free</b> CDL Practice Tests</h3>
      <hr>
      <p>They say that “practice makes perfect” and taking the CDL practice test is a great way to prepare for taking this important test.  The actual CDL exam can be quite difficult, thus, taking time to undergo studying will make sure that you know your information.</p>
    </header>

    <div class="cdl-test-callouts">

      <div class="cdl-test-callout"><div class="inner">
        <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-general-landing" class="link-wrap">
          <%= image_tag 'cdl-general.svg' %>
          <p>General Knowledge Test</p>
        </a>
        <div class="over-buttons">
          <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-general-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>

      <div class="cdl-test-callout"><div class="inner">
        <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-brakes.svg' %>
          <p>Air Brakes Test</p>
        </a>
        <div class="over-buttons">
          <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-combo.svg' %>
          <p>Combination Vehicle Test</p>
        </a>
        <div class="over-buttons">
          <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-tanker.svg' %>
          <p>Tanker Test</p>
        </a>
        <div class="over-buttons">
          <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-hazmet.svg' %>
          <p>Hazmat Test</p>
        </a>
        <div class="over-buttons">
          <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
      <div class="cdl-test-callout"><div class="inner">
        <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="link-wrap">
          <%= image_tag 'cdl-doubles.svg' %>
          <p>Double/Triples Test</p>
        </a>
        <div class="over-buttons">
          <a href="http://thisbythem.github.io/thetruckersreport.com/cdl-test-landing" class="learn-more">Learn More</a>
          <a href="#" class="take-test">Take the Test!</a>
        </div>
      </div></div>
    </div>

  </div>
</article>

<div class="find-jobs-form-wrap form-vert homepage-body">
   <%= partial "views/find-job-form" %>
</div>

<div class="news-resources-wrap"><div class="container">
  <section class="trucker-news">
    <h3 class="sub-section-title">Trucker News</h3>
    <div class="trucker-news-item">
      <a href="#">
        <%= image_tag 'news-slug.jpg' %>
        <p class="title">Train Derails After Hitting Stuck Truck, 55 Injured</p>
        <span class="comment-count"> <i class="fa fa-comment"></i> <span class="comment-number">25</span> comments</span>
      </a>
    </div>
    <div class="trucker-news-item">
      <a href="#">
        <%= image_tag 'news-slug.jpg' %>
        <p class="title">Train Derails After Hitting Stuck Truck, 55 Injured</p>
        <span class="comment-count"> <i class="fa fa-comment"></i> <span class="comment-number">25</span> comments</span>
      </a>
    </div>
    <div class="trucker-news-item">
      <a href="#">
        <%= image_tag 'news-slug.jpg' %>
        <p class="title">Train Derails After Hitting Stuck Truck, 55 Injured</p>
        <span class="comment-count"><i class="fa fa-comment"></i> <span class="comment-number">25</span> comments</span>
      </a>
    </div>
  </section>
  <section class="resources">
    <h3 class="sub-section-title">Trucker's Report Resources</h3>
    <a href="#" class="forum-callout"><%= image_tag 'forum-callout.jpg' %></a>
    <div class="resource-callout-wrap">
      <h3>More Resources</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="#" class="more">See Resources</a>
    </div>
  </section>
</div></div>






