---
title: Truckers Report
---
<div class="hero-home"><div class="container">
  <h2 class="tagline">SEARCH JOBS<%= image_tag 'tr-logo-white.svg'%></h2>
  <form class="hero-job-search">
    <p>
      <label>City, State, or Zip</label>
      <input type="text" placeholder="Boston, MA or 01841">
    </p>
    <p>
      <label>Class A CDL Experience</label>
      <select name="experience">
        <option>I need CDL training</option>
        <option>Leader of the Convoy</option>
      </select>
    </p>
    <p class="form-actions">
      <button type="submit"><i class="fa fa-search fa-lg"></i></button>
    </p>
  </form>
</div></div>

<%= partial "views/job-type-callouts-bar" %>

<div class="homepage-job-search-callouts">
  <div class="container">
    <header class="homepage-section-header">
      <h2 class="section-title"><b>Trucking Jobs</b> in your area</h3>
      <hr>
    </header>
    <div class="block-wrap row">
      <%= partial "views/job-posting-block" %>
      <%= partial "views/job-posting-block" %>
      <%= partial "views/job-posting-block" %>
      <%= partial "views/job-posting-block" %>
    </div>
    <footer class="homepage-section-footer">
      <a href="/">See More Trucking Jobs</a>
    </footer>
  </div>
</div>

<div class="homepage-job-review-callouts">
  <div class="container">
    <header class="homepage-section-header">
      <h2 class="section-title"><b>Recently Reviewed Companies</b> at Truckers Report</h3>
      <hr>
    </header>
    <div class="block-wrap row">
      <%= partial "views/company-review-block" %>
      <%= partial "views/company-review-block" %>
    </div>
    <footer class="homepage-section-footer">
      <a href="/">See All Review Companies</a>
    </footer>
  </div>
</div>

<div class="news-resources-wrap"><div class="container">
  <section class="trucker-news">
    <h3 class="sub-section-title">Trucker News</h3>
    <div class="trucker-news-item">
      <a href="/trucker-news-detail">
        <%= image_tag 'news-slug.jpg' %>
        <p class="title">Train Derails After Hitting Stuck Truck, 55 Injured</p>
        <span class="comment-count"> <i class="fa fa-comment fa-flip-horizontal"></i> <span class="comment-number">25</span> comments</span>
      </a>
    </div>
    <div class="trucker-news-item">
      <a href="/trucker-news-detail">
        <%= image_tag 'news-slug.jpg' %>
        <p class="title">Train Derails After Hitting Stuck Truck, 55 Injured</p>
        <span class="comment-count"> <i class="fa fa-comment fa-flip-horizontal"></i> <span class="comment-number">25</span> comments</span>
      </a>
    </div>
    <div class="trucker-news-item">
      <a href="/trucker-news-detail">
        <%= image_tag 'news-slug.jpg' %>
        <p class="title">Train Derails After Hitting Stuck Truck, 55 Injured</p>
        <span class="comment-count"><i class="fa fa-comment fa-flip-horizontal"></i> <span class="comment-number">25</span> comments</span>
      </a>
    </div>
  </section>
  <section class="resources">
    <h3 class="sub-section-title">Trucker's Report Resources</h3>
    <a href="#" class="forum-callout"><%= image_tag 'forum-callout.jpg' %></a>
    <div class="resource-callout-wrap">
      <h3>More Resources</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="/resources" class="more">See Resources</a>
    </div>
  </section>
</div></div>
