<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">The Complete Guide to Company Orientation for New Truckers</h2>
    <hr>
    <h3 class="page-subtitle">Before you pack your bags for company orientation, it’s important that we take a moment to go over what it means when your recruiter makes you an "offer." Because all isn’t exactly as you might think.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="container narrow">
    <h3 class="section-title-small">Conditional Employment Offer — Not a Real Job Offer</h3>

    <p>This step is not a firm job offer. The job of the recruiter is not to guarantee that you’ll meet all hiring requirements.</p>
    <p>First, that just isn’t their role. Also, because of the uniqueness of the individual circumstances of a driver, folks at a higher pay grade (authority) will have to make the ultimate decision about drivers.</p>
    <p>In many cases, recruiters receive bonuses and other incentives based on the number of drivers that are brought in. That said, this does not (by itself) make the process dishonest.</p>
    <p>Our main point in this section is to shine a bright light of transparency on the process, so you can take control of your future.</p>
  </div>
  <div class="resources-wrapper">
    <div class="container">
      <hr>
      <h3 class="section-title center-title">Resource Sections</h3>

      <div class="resource-section-listing">
        <a href="/resource-section-detail" class="section-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <p class="section-number">Section 1</p>
          <h3><a href="/resource-section-detail">First Day – Medical Tests, Background Checks, and Essential Paperwork</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/resource-section-detail" class="more">View Resource</a>
        </div>
      </div>

      <div class="resource-section-listing">
        <a href="/resource-section-detail" class="section-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <p class="section-number">Section 2</p>
          <h3><a href="/resource-section-detail">First Day – Medical Tests, Background Checks, and Essential Paperwork</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/resource-section-detail" class="more">View Resource</a>
        </div>
      </div>

      <div class="resource-section-listing">
        <a href="/resource-section-detail" class="section-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <p class="section-number">Section 3</p>
          <h3><a href="/resource-section-detail">First Day – Medical Tests, Background Checks, and Essential Paperwork</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/resource-section-detail" class="more">View Resource</a>
        </div>
      </div>
</div>

<div class="find-jobs-form-wrap form-wide">
  <%= partial "views/find-job-form" %>
</div>