<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">Truckers Report Resources</h2>
    <hr>
    <h3 class="page-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="resources-wrapper">
    <div class="container">

      <div class="resource-listing">
        <a href="/resource-section" class="section-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/resource-section">First Day – Medical Tests, Background Checks, and Essential Paperwork</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/resource-section" class="more">View Resource</a>
        </div>
      </div>

      <div class="resource-listing">
        <a href="/resource-section" class="section-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/resource-section">First Day – Medical Tests, Background Checks, and Essential Paperwork</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/resource-section" class="more">View Resource</a>
        </div>
      </div>

      <div class="resource-listing">
        <a href="/resource-section" class="section-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/resource-section">First Day – Medical Tests, Background Checks, and Essential Paperwork</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/resource-section" class="more">View Resource</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="find-jobs-form-wrap form-wide show-labels">
  <%= partial "views/find-job-form" %>
</div>