<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="resource-breadcrumb">
    <div class="container">
      <a href="/resources/">Resources</a> <a href="/resource-section">Parent Resource Title</a>
    </div>
  </div>
  <div class="container">
    <h2 class="page-title">Resource Section Detail Page</h2>
    <hr>
    <h3 class="page-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>
<div class="main-content">
  <div class="container narrow">
    <figure class="main-image">
      <%= image_tag "photo-slug.jpg" %>
      <figcaption>A caption for the photo if needed.</figcaption>
    </figure>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <blockquote>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <footer>
        <cite>A person or publication</cite>
    </blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    <ul>
      <li>Excepteur sint</li>
      <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</li>
      <li>Excepteur sint </li>
      <li>Excepteur sint</li>
      <li>Excepteur sint</li>
    </ul>

    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>

    <div class="resource-section-nav">
      <hr>
      <h5>Current Resource Section</h5>
      <h3><a href="#">Complete Guide to Company Orientation for New Truckers</a></h3>
      <p>Other sections in this resource</p>
      <a href="#" class="section-link">
        <div class="inner">
          <%= image_tag "photo-slug.jpg" %>
          <span class="section-link-title">First Day – Medical Tests, Background Checks, and Essential Paperwork</span>
        </div>
      </a>
      <a href="#" class="section-link active">
        <div class="inner">
          <%= image_tag "photo-slug.jpg" %>
          <span class="section-link-title">First Day – Medical Tests, Background Checks, and Essential Paperwork</span>
        </div>
      </a>
      <a href="#" class="section-link">
        <div class="inner">
          <%= image_tag "photo-slug.jpg" %>
          <span class="section-link-title">First Day – Medical Tests, Background Checks, and Essential Paperwork</span>
        </div>
      </a>
    </div>

  </div>
</div>

<%= partial "views/comments" %>

<div class="find-jobs-form-wrap form-wide">
  <%= partial "views/find-job-form" %>
</div>