<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">Search Results</h2>
    <hr>
    <form class="site-search search-page-site-search" id="site-search">
      <input type="text" placeholder="Search Truckers Report">
      <button type="submit"> <i class="fa fa-search fa-lg"></i></button>
    </form>
    <h3 class="page-subtitle">Search: Truckers</h3>

  </div>
</header>

<div class="main-content">
  <div class="search-result-listings-wrapper">
    <div class="container">

      <div class="search-result-listing">
        <a href="/trucker-news-detail" class="search-result-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

      <div class="search-result-listing">
        <a href="/trucker-news-detail" class="search-result-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

      <div class="search-result-listing">
        <a href="/trucker-news-detail" class="search-result-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

      <div class="search-result-listing">
        <a href="/trucker-news-detail" class="search-result-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

      <div class="search-result-listing">
        <a href="/trucker-news-detail" class="search-result-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

    </div>
  </div>
  <div class="pager">
    <hr>
    <a href="#"><i class="fa fa-caret-left"></i></a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="active">4</a>
    <a href="#">5</a>
    <a href="#"><i class="fa fa-caret-right"></i></a>
  </div>
</div>

<div class="find-jobs-form-wrap form-wide">
  <%= partial "views/find-job-form" %>
</div>