<%= partial "views/job-type-callouts-bar" %>

<header class="page-header">
  <div class="container">
    <h2 class="page-title">Trucker News</h2>
    <hr>
    <h3 class="page-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</h3>
    <div class="social-link-wraper">
      <i class="fa fa-facebook-official fa-lg"></i>
      <i class="fa fa-twitter-square fa-lg"></i>
      <i class="fa fa-google-plus-square fa-lg"></i>
    </div>
  </div>
</header>

<div class="main-content">
  <div class="trucker-news-wrapper">
    <div class="container">

      <div class="trucker-news-listing">
        <a href="/trucker-news-detail" class="news-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

      <div class="trucker-news-listing">
        <a href="/trucker-news-detail" class="news-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment  fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>

      <div class="trucker-news-listing">
        <a href="/trucker-news-detail" class="news-image"><%= image_tag "photo-slug.jpg" %></a>
        <div class="info-wrap">
          <h3><a href="/trucker-news-detail">Trucker Threatens FMCSA Inspector After Receiving Fine</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
          <a href="/trucker-news-detail" class="comment-count"><i class="fa fa-comment fa-flip-horizontal"></i> 24 Comments</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pager">
    <hr>
    <a href="#"><i class="fa fa-caret-left"></i></a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="active">4</a>
    <a href="#">5</a>
    <a href="#"><i class="fa fa-caret-right"></i></a>
  </div>
</div>

<div class="find-jobs-form-wrap form-wide">
  <%= partial "views/find-job-form" %>
</div>